@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Oxygen:wght@300;700&family=Playfair+Display&family=Readex+Pro:wght@400;500;700&family=Righteous&display=swap');

/*
font-family: 'Hind', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Righteous', cursive;
*/

*{
  margin: 0%;
  box-sizing: border-box;
}

.background-intro{
  height: 550px;
  width: 100%;
  background: linear-gradient(to left, #00b4d8, #ade8f4);
}

.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

img{
  width: 50%;
}

.navbar-options{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.navbar-options ul{
  display: flex;
  list-style: none;
}

ul a{
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
  color: aliceblue;
  text-decoration: none;
  padding-right: 15px;
  letter-spacing: 2px;
}

.blocks{
  padding: 2em;
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-left{
  padding: 2em;
  height: 100%;
  width: 50%;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
  color: aliceblue;
}

.text-container h1{
  font-weight: bolder;
  padding-bottom: 15px;
}

.text-container p{
  font-weight: 500;
  padding-bottom: 15px;
}

.text-container button{
  padding: 1em;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  border-radius: 25px;
  border: aliceblue solid;
  background-color: yellowgreen;
}

.block-right{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.img-work{
  width: 400px;
}

/*block2*/

.blocks2{
  height: 300px;
  width: 100%;
  background-color: #edf6f9;
}

