@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Oxygen:wght@300;700&family=Playfair+Display&family=Readex+Pro:wght@400;500;700&family=Righteous&display=swap');

/*
font-family: 'Hind', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Righteous', cursive;
*/

*{
  margin: 0%;
  box-sizing: border-box;
}

.background-intro{
  height: 550px;
  width: 100%;
  background: linear-gradient(to left, #00b4d8, #ade8f4);
}

.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

img{
  width: 50%;
}

.navbar-options{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.navbar-options ul{
  display: flex;
  list-style: none;
}

ul a{
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
  color: aliceblue;
  text-decoration: none;
  padding-right: 25px;
  padding-left: 25px;
  letter-spacing: 2px;
}

.blocks{
  padding: 2em;
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-left{
  padding: 2em;
  height: 100%;
  width: 50%;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
  color: aliceblue;
}

.text-container h1{
  font-weight: bolder;
  padding-bottom: 15px;
}

.text-container p{
  font-weight: 500;
  padding-bottom: 15px;
}

.text-container button{
  padding: 1em;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  border-radius: 25px;
  border: aliceblue solid;
  background-color: yellowgreen;
}

.block-right{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.img-work{
  width: 400px;
}

/*block2*/

.main-block{
  height: 1600px;
  width: 100%;
  background-color: #edf6f9;
}

.services{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  height: 400px;
  width: 100%;
}

.s1,
.s2,
.s3,
.s4{

  background-color: white;
  height: 80%;
  width: 230px;
}

.testimonies{
  height: 1200px;
  width: 100%;

  border: red solid;
}

.news{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
  background: linear-gradient(to left, #00b4d8, #ade8f4);
}

.block-left2,
.block-right2{
  height: 75%;
  width: 40%;
}

.block-right2-1,
.block-right2-2{
  height: 50%;
  width: 100%;
}

.block-left2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  background-image: url(https://cdn.pixabay.com/photo/2015/01/20/13/13/samsung-605439_960_720.jpg);

  border: #edf6f9 solid 3px;
}

.block-right2{
  border-top: #edf6f9 solid 3px;
  border-right: #edf6f9 solid 3px;
  border-bottom: #edf6f9 solid 3px;
}

.block-right2-1{
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/06/12/52/woman-2592247_960_720.jpg);

  border-bottom: #edf6f9 solid 3px;
}

.block-right2-2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  background-image: url(https://cdn.pixabay.com/photo/2018/01/28/10/59/internet-3113279_960_720.jpg);
}

.block-left2-container,
.block-right2-1-container,
.block-right2-2-container{
  height: 30%;
  width: 80%;
}

